@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
    margin: 0;
    padding: 0;
}
.logo {
    width: 150px;
    padding-top: 10px;
    margin-right: -20px;
}
.main{
    width: 100%;
    background-color: #fff;
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}


.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 112px;
    margin-top: 27px;
    font-size: 17px;
}

ul li a{
    text-decoration: none;
    color: #2f00ff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #ff7200;
}

.Login{
    width: 330px;
    float: left;
    margin-left: 270px;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #ff7200;
    margin-top: 17px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
   
}

.btn{
    width: 130px;
    height: 50px;
    background: #ff7200;
    border: 2px solid #ff7200;
    margin-top: 15px;
    color: #fff;
    font-size: 15px;
    font-weight: 550;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
    border: solid 1px rgb(70, 70, 247);
    border-radius: 3px;
}
.btn:hover{
    color: #000;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}
.titleS {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    color: #2f00ff;
    font-size: 2em;
    font-weight: 900;
}

.cards .content-card {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.p-card {
    background-color: #ffffff;
    border: solid 1px rgb(10, 10, 10);
    min-height: 14em;
    width: 17em;
    overflow: hidden;
    border-radius: 9px;
    box-shadow: 0 5px 25px rgba(1 1 1 / 60%);
    margin: 15px;
    transition: 0.7s ease;
}
.p-card:hover {
    transform: scale(1.1);
}
.p-card:hover .card-img {
    opacity: 0.9;
}
.card-img img {
    width: 100%;
}

.card-info {
    padding: 5px;
    margin-top: 10px;

}
.card-caty {
    font-size: 0.8em;
    color: #000;
    
}
.card-in {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 700;
}
.click {
    text-decoration: none;
    color: #ff7200;
}
.click:hover {
    color: #2f00ff;
}

.form{
    width: 400px;
    height: 670px;
    background: linear-gradient(to top, rgba(61, 69, 143, 0.8)50%,rgba(61, 69, 143, 0.8)50%); 
    position: absolute;
    top: 66%;
    left: 34%;
    transform: translate(0%,-5%);
    border-radius: 10px;
    padding: 25px;
    
}
    

.select {
    margin-top: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    height: 6%;
    background: url(images/9.jpg) no-repeat;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    border: 1.5px solid rgb(255, 177, 32) ;


}  

.form h2{
    width: 300px;
    font-family: sans-serif;
    text-align: center;
    color: #ff7200;
    font-size: 22px;
    background-color: #2327eb;
    border-radius: 10px;
    margin-left: 38px;
    padding: 7px;
    border-radius: 10px;
    border: 1.5px solid rgb(255, 177, 32) ;
}

.form input{
    width: 400px;
    height: 30px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form input:focus{
    outline: none;
}

::placeholder{
    color: #fff;
    font-family: Arial;
}

.btnn{
    width: 390px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}
.btnn:hover{
    background: #fff;
    color: #ff7200;
}
.btnn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-top: 20px;
    text-align: center;
}
.form .link a{
    text-decoration: none;
    color: #ff7200;
}


.footer {
    background-color: #fff;
    color: #0011ff;
    padding: 3em;
    display: flex;
    justify-content: space-between;
    
}

.footer-title {
    font-size: 1.2em;

}
.footer-title span {
    color: rgb(0, 0, 0);
}

.footer-icon a {
    color: #000000;
    font-size: 1.7em;
    padding-right: 20px;
    
}
.footer-conta {
    color: #0011ff;
    padding-bottom: 30px; 
    padding-top: 450px;
    font-weight: 700;
    font-size: 1.2em;
    padding-left: 47%;
    

}
.footer-icon a {
    color: #2600ff;
    font-size: 1.5em;
    padding-right: 10px;
    padding-left: 4%;
    text-decoration: none;
    
}
.footer-icon a:hover {
    color: #ffd000; 
}

Label { 
    Height:  100px; 
    Width: 100px; 
    Border-radius: 60px; 
    Border:   #999; } 
Label:hover { 
    Color: #0626de; 
    Border:  #2606de; 
}

.footer-icon span {
    color: #000;
    font-size: 25px;
    padding: 10px;
    
    
}